apiversion: v2
name: onecx-workspace
version: 0.0.0
appversion: 0.0.0
dependencies:
- name: helm-product
  version: ^0
  repository: oci://ghcr.io/onecx/charts
  alias: product
- name: onecx-workspace-svc
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.svc"
  alias: "svc"
- name: onecx-workspace-bff
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.bff"
  alias: "bff"
- name: onecx-workspace-api-bff
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.api"
  alias: "api"
- name: onecx-workspace-ui
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.ui"
  alias: "ui"
